* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 500px;
  margin: 0 auto;
}
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calc {
  font-size: 0.9rem;
  font-weight: bold;
}
.right-head {
  font-size: 0.3rem;
  display: flex;
  align-items: flex-end;
}
.theme {
  font-size: 0.3rem;
  margin-right: 20px;
}
.theme-toggle {
  width: 60px;
}
.toggle-numbers {
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
}

.toggle-btns {
  height: 18px;

  width: auto;
  border-radius: 10px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toggle-btn {
  height: 14px;
  width: 14px;
  border-radius: 10px;
}
#toggle-2 {
  visibility: hidden;
}
#toggle-3 {
  visibility: hidden;
}
#display {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 30px;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 12px;
  margin-top: 30px;
  margin-bottom: 25px;
}
#buttons {
  padding: 30px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 12px;
}
.reset,
.del {
  font-size: 0.7rem;
}
.reset {
  grid-column: 1/3;
}
.equal {
  grid-column: 3/5;
}
.button:hover,
.toggle-btn:hover,
.equal:hover {
  cursor: pointer;
}

@media only screen and (max-width: 450px) {

  html {
    font-size: 20px;
  }

  .container {
    width: 330px;
  }
  .calc {
    font-size: 1.5rem;
  }
  .right-head {
    font-size: 0.7rem;
  }
  .theme {
    font-size: 0.7rem;
    margin-bottom: 3px;
  }
  .theme-toggle {
    width: 70px;
  }
  .toggle-numbers {
    padding: 0 10px;
  }

  .toggle-btns {
    height: 24px;
    padding: 0 2px;
  }
  .toggle-btn {
    height: 18px;
    width: 18px;
  }

  #display {
    height: 100px;

    padding: 20px;
    font-size: 1.8rem;
  }
  #buttons {
    padding: 20px;
    border-radius: 8px;
    column-gap: 15px;
    row-gap: 15px;
    height: 60vh;
  }
  .button {
    padding: 10px;
    border-radius: 8px;
    font-size: 1.3rem;
  }
  .reset,
  .del {
    font-size: 0.9rem;
  }
}
