:root{
    /* Theme 2 */
    --main-background-2: hsl(0, 0%, 90%);
    --keypad-background-2: hsl(0, 5%, 81%);
    --screen-background-2: hsl(0, 0%, 93%);

    /* Keys */
    --key-background-2: hsl(185, 42%, 37%);
    --key-shadow-2:  hsl(185, 58%, 25%);
    --key-background-toggle-2: hsl(25, 98%, 40%);
    --key-shadow-orange: hsl(25, 99%, 27%);
    --key-background-grayish-2: hsl(45, 7%, 89%);
    --key-background-orange-2: hsl(35, 11%, 61%);

    /* Text */
    --dark-grayish-yellow: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);

    /* Very dark violet 
    (toggle background, keypad background, screen background): hsl(268, 71%, 12%) */

    /* Theme 3 */
    --main-background-3: hsl(268, 75%, 9%);
    --keypad-background-3: hsl(268, 71%, 12%);

    /* Keys */
    --key-background-3: hsl(281, 89%, 26%);
    --key-shadow-3: hsl(285, 91%, 52%);
    --key-background-toggle-3: hsl(176, 100%, 44%);
    --key-shadow-cyan: hsl(177, 92%, 70%);
   
    --key-background-violet: hsl(268, 47%, 21%);
    --key-shadow-magenta: hsl(290, 70%, 36%);

    /* Text */
    --light-yellow: hsl(52, 100%, 62%);
    --dark-blue: hsl(198, 20%, 13%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: var(--main-background-3);
}

#head{
    color: var(--light-yellow);
    
}
.toggle-btns{
    background-color: var(--keypad-background-3);
}
.toggle-btn{
    background-color: var(--key-background-toggle-3);
}



#display{
    background-color: var(--keypad-background-3);
    color: var(--light-yellow);
}

#buttons{
    background-color: var(--keypad-background-3);
}
.button{
    background-color: #331B4D;
    color: var(--light-yellow);
    box-shadow: 0 5px 2px  var(--key-shadow-magenta);
}

.reset, .del{
    background-color: #55087C;
    color: var(--white);
    box-shadow: 0 5px 2px var(--key-shadow-magenta);
}

.equal{
    background-color: var(--key-background-toggle-3);
    color: var(--white);
    box-shadow: 0 5px 2px var(--key-shadow-cyan);
}

.button:hover{
    background-color: #6B34AC;
}
.toggle-btn:hover, .equal:hover{
    background-color: #95FEF9;
 }
 
 .reset:hover, .del:hover{
    background-color: #8432B1;
 }